:root {
  --blue: cornflowerblue;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: var(--blue);
}

.nav {
  background-color: var(--blue);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  border: 3px solid var(--blue);
  border-radius: 5%;
  height: auto;
  padding: 1rem;
}

input {
  height: 2.6rem;
}

img {
  margin: 1%;
  width: 30%;
}

.results {
  overflow: auto;
  height: 60vh;
}

.results::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 0.6rem;
}

.results::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #f5f5f5;
}

.results::-webkit-scrollbar-thumb {
  background-color: #f90;
  background-image: -webkit-linear-gradient(
    45deg, 
    rgba(255,255,255, .2) 25%, transparent 25%, transparent 50%, 
    rgba(255,255,255, .2) 50%,
    rgba(255,255,255, .2) 75%, transparent 75%, transparent);
}
