:root {
  --blue: cornflowerblue;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
}

.nav{
  background-color: var(--blue); 
}

.box {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  border: 3px solid #ccc;
  border-radius: 5%;
  height: 75vh;
  padding: 1rem;
}

button {
  width: 34%;
  font-weight: bold;
}