:root {
  --blue: cornflowerblue;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: var(--blue);
}

.nav {
  background-color: var(--blue);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  border: 3px solid var(--blue);
  border-radius: 5%;
  height: auto;
  padding: 1rem;
}

input {
  height: 2.6rem;
}

img {
  margin: 1%;
  width: 30%;
  height: 30%;
}

.results {
  height: 60vh;
}
